/** pas de kleuren aan naar eigen smaak, zorg gwn voor contrast & eenduidig thema **/
body {
  color: darksalmon;
  font-size: larger;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: larger;
  color: rgb(226, 234, 241);
  font-weight: bold;
}

/** onderstaande styling mag gerust verwijderd worden **/



.menu a {
  color: white;
  background-color: inherit;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul.menu {
  display: flex;
  color: black;
  justify-content: space-evenly;
  list-style: none;
  font-size: 25px;
  flex-flow: wrap;
}

hr {
  border-top: 2px solid rgb(116, 29, 29);
}

.centreer {
  display: flex;
}

body {
  background-image: url("AROWBEY.jfif");
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: orange;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.aze{
  width: 7%;
  height: 20%;
}

.lol{
  position: relative;
  top: -45px;
  left: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: beige;

}
.azee{
  width: 6%;
  height: 20%;
  border-radius: 50px;
}
.Lyrics{
  position: relative;
  top: -35px;
  left: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: beige;
}
.centerr{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
